<h1 style="margin: 35px; text-align: center;">Recipes</h1>

<div class="container">
  <ul class="list-group">
    <% recipes_and_categories.each do |category, recipes| %>
      <h4 class="mt-4"><%= category.name %></h3>
      <%= render recipes %>
    <% end %>
  </ul>
</div>
